{% extends "base.html" %}

{% block titulo_conteudo %} Pagamento do Pedido {% endblock titulo_conteudo %}

{% block conteudo %}
    <p>
        <label for="id_cliente"> Pedido: </label>
        <span class="form-control"> {{form.instance.pedido}} </span>

    </p>

    <p>
        <label for="id_data"> Data: </label>
        <span class="form-control"> {{form.instance.pedido.data_pedidof}} </span>

    </p>


    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary"> Salvar </button>
        <button type="button" onclick="location='{% url 'detalhes_pedido' form.instance.pedido.id %}'" class="btn btn-secondary btn-sm">Voltar</button>

    </form>

    <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Valor (R$)</th>
            <th>Forma</th>
            <th>Data</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
            {% for pagamento in form.instance.pedido.pagamentos.all %}
                 <tr>
                     <td>{{ pagamento.id }}</td>
                     <td>{{ pagamento.valor }}</td>
                     <td>{{ pagamento.get_forma_display }}</td>
                     <td>{{ pagamento.data_pagntof }}</td>
      
      
                     <td>
                         <a href="" class="btn btn-warning btn-sm">Editar</a>
                         <a href="" 
                            class="btn btn-danger btn-sm" 
                            onclick="return confirm('Tem certeza que deseja remover este registro?');">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      <hr>
      <h5>Valor Total: R$ {{ pedido.total }}</h5>
      <h5>Valor Pago: R$ {{ pedido.total_pago }}</h5>
      <h5>Valor Restante: R$ {{ pedido.debito }}</h5>
      {% endblock conteudo %}
      
      
      {% block javascript %}
      {% endblock javascript %}
      
