
{% extends "base.html" %}
{% block titulo_page %} Produtos {% endblock %}
{%block conteudo%} 
   
    <table class="table table-bordered table-hover w-75 mx-auto">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url "formulario" %}'" ><i class="bi bi-plus-lg"></i>Novo produto</button>
        <button style="margin-left: 10px" type="button" class="btn btn-outline-primary" onclick="location.href='{% url "categoria" %}'" ><i class="bi bi-arrow-clockwise"></i>Reloding</button>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Estoque</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista %}
                <tr>
                    <td> {{item.id}} </td>
                    <td> {{item.nome}} </td>
                    <td> {{item.ordem}} </td>
                    <td> 
                        <button type="button" onclick="location.href=' {% url "detail_categoria" item.id %}'" class="btn btn-info"> Detalhes </button>
                        <button type="button" onclick="location.href=' {% url "editar_categoria" item.id %}'" class="btn btn-warning"> Editar </button>
                        <button type="button" onclick="location.href=' {% url "delet_categoria" item.id %}'" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluir"> Excluir </button>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endblock %}

